body {
    background-image: linear-gradient(to bottom, rgb(235, 235, 235), rgb(79, 114, 143));
    color: rgb(35, 51, 58);
}

.Overcast {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(235, 235, 235),rgba(98, 85, 173, 0.89));
}

.Clear {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(235, 235, 235),rgba(4, 0, 255, 0.89));
}

.background-video{
    height: 100%;
    width: 100%;    
}