html {
    font-size: 13px;
}

body {
	height: 100%;
	background-color: rgb(24, 24, 24);
}

.default {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/default.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.clear-day {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/clear-day.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.clear-night {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/clear-night.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.partly-cloudy-day {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/partly-cloudy-day.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.partly-cloudy-night {
    min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/partly-cloudy-night.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.cloudy {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/cloudy.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.rain {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/rain.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.sleet {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/sleet.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.snow {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/snow.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.wind {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/wind.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.fog {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(../pics/fog.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
